@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rock+Salt&display=swap');

body {
    background-color: #fcfbfb;
    color: #d9c2a3;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color:rgba(20,30,13, .7);
    display: grid;
    grid-template-columns: 150px auto;
}

.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;    
}

nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    padding: 35px;
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}
nav a:hover {
    background-color: black;
}
nav a:hover, footer a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}

footer {
    background-color:rgba(20,30,13, .7);
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;    
}
footer .social img {
    padding-top: 15px;
}
footer a{
    color: #d9c2a3;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
    color: black;
}

form {
    /* Center the form on the page */
    margin: 1em auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    }
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }

form li + li {
    margin-top: 1em;
    }

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
    }

input,
textarea {
    /* To make sure that all text fields have the same font settings
        By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;

    /* Match form field borders */
    border: 1px solid #999;
    }

input:focus,
textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
    }

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    height: 5em;
    }

.button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
    }

button {
    /* This extra margin represent roughly the same space as the space
        between the labels and their text fields */
    margin-left: 0.5em;
    }

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
    }
.moveDown {
    margin-top: 3em;
    }