@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rock+Salt&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#background {
    height: 725px;
    background-color: #E79115;
    grid-column: 1/11;
    grid-row: 4/9;
}
body {
    background-color: #fcfbfb;
    color: #E79115;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

header {
    background-color:#FFFFFF;
    color: #E79115;
    display: grid;
    grid-template-columns: 150px auto;
}

.logo {
    width: 150px;
    height: 50px;
    margin-left: 20px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;    
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    padding: 35px;
    text-align: center;
    color: #E79115;
    text-decoration: none;
}

nav a:hover {
    background-color: #E5E5E5;
    text-align: center;
    color: #E79115;
    text-decoration: none;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/5;
    grid-row: 1/5;
    z-index: -1;
}

#hero-img{
    width: 100%;
}

#hero-msg {
    grid-column: 1/4;
    grid-row: 2/3;
    margin-top: 100px;
    margin-left: 200px;
    color: white;
}

.home-title {
    font-family: "Roboto", "Bradley Hand", sans-serif; 
    font-size: 3em;
    color: #E79115;
    margin: 0;
}

#hero-msg h2 {
    margin-top: 0;
}
.msg h2 {
    color: #E79115;
    font-family: "Rock Salt", "Bradley Hand", sans-serif; 
}
.book, .join{
    background-color: #E79115;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    text-align: center;
}

.book:hover, .join:hover {
    background-color: #fcfbfb;
    color: #E79115;
}

.home-grid {
    color: black;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.Responsive-speed {
    grid-column: 1/6;
    grid-row: 1/3;
}

.Responsive-speed-text {
    grid-column: 6/11;
    grid-row: 1/3;
    margin: 50px;
    margin-top: 100px;
}

.e-commerce {
    grid-column: 6/11;
    grid-row: 3/6;
}

.e-commerce-text {
    grid-column: 1/6;
    grid-row: 4/5;
    margin: 50px;
}

.message {
    grid-column: 1/6;
    grid-row: 6/11;
}

.message-text {
    grid-column: 6/11;
    grid-row: 6/11;
    margin: 50px;
    margin-top: 100px;
}

.card-img1, .card-img2, .card-img3 {
    border: 5px solid #E5E5E5;
    margin: 50px;
    box-shadow: 5px 5px 5px #6f7364;
    transition: transform .5s;
}

.card-img1:hover, .card-img2:hover,.card-img3:hover {
    opacity: .6;
    transform: scale(1.1);
}
.button-box2 {
    grid-column: 7/11;
    grid-row: 10/11;
}
footer {
    background-color:white;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

footer a {
    text-align: center;
    color: #E79115;
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
    color: black;
}

footer .social img {
    padding-top: 15px;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #E79115;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }