@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rock+Salt&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#background {
    height: 725px;
    background-color: #E79115;
    grid-column: 1/11;
    grid-row: 4/9;
}
body {
    background-color: #fcfbfb;
    color: #E79115;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

header {
    background-color:#FFFFFF;
    color: #E79115;
    display: grid;
    grid-template-columns: 150px auto;
}

.logo {
    width: 150px;
    height: 50px;
    margin-left: 20px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;    
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    padding: 35px;
    text-align: center;
    color: #E79115;
    text-decoration: none;
}

nav a:hover {
    background-color: #E5E5E5;
    text-align: center;
    color: #E79115;
    text-decoration: none;
}

.home-title {
    font-family: "Roboto", "Bradley Hand", sans-serif; 
    font-size: 3em;
    color: #E79115;
    margin: 0;
}


.home-grid {
    color: black;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.img1-box {
    grid-column: 1/9;
    grid-row: 1/4;
}

.title {
    grid-column: 1/9;
    grid-row: 4/5;
    justify-self:center;
    align-self: center;
    color: #E79115;
    font-size: 25px;
}

.ourservies-text {
    grid-column: 5/9;
    grid-row: 5/9;
    margin-top: 25px;
}

.img2-box {
    grid-column: 1/5;
    grid-row: 5/8;
    justify-self:center;
    align-self: center;
    margin-top: 25px;
  }

.button-box {
    justify-self:center;
    align-self: center;
    grid-column: 1/5;
    grid-row: 8/9;
}

.card-img1 {
    width: 100%;
    height: 100%;
}

.img2-box {
    justify-self: center;
}

.card-img2 {
    border: 5px solid #E5E5E5;
    margin: 50px;
    box-shadow: 5px 5px 5px #6f7364;
    transition: transform .5s;

}

.card-img2:hover{
    opacity: .6;
    transform: scale(1.1);
}


.book {
    background-color: #E79115;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.book:hover {
    background-color: #fcfbfb;
    color: #E79115;
}

footer {
    background-color:white;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

footer a {
    text-align: center;
    color: #E79115;
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
    color: black;
}

footer .social img {
    padding-top: 15px;
}