
html {
  background-color: pink;
}
nav {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  display: block;
  color: white;
  font-size: 2em;
}
main p1, main p2 {
  text-align: center;
  width: 40%;
  margin: 1em auto;
  display: block;
  color: white;
  font-size: 0.5em;
}
main p3, main p4, main p5, main p6 {
  text-align: left;
  width: 50%;
  margin: 0 auto;
  display: block;
}
main p7 {
  text-align: center;
  width: 40%;
  margin: 1em auto;
  display: block;
  color: white;
  font-size: 2em;
}
img {
  width: 20%;
  margin: 1em auto;
  display: block;
}
footer p1, footer p2{
  text-align: center;
  width: 45%;
  margin: 0 auto;
  display: block;
}
nav:hover {
  color: black;
}